.sidebar {
    background-color: #4f5460;
    min-height: 100vh;
    width: 10%;
}

.menu ul {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
}

.menu ul li {
    list-style: none;
    padding: 10px 20px;
    transition: .2s all;
    cursor: pointer;
    background: #0d6efd;
    margin-bottom: 20px;
    border-radius: 10px;

}

.menu ul li:hover {
    opacity: .6;
}

.menu ul li:last-child {
    background-color: #ddd;
}

.menu ul li a {
    font-size: 20px;
    color: #000;
    margin-bottom: 10px;
    text-decoration: none;
    font-weight: bold;
}

